extends ../../../layouts/default-user

block head
  title Popular Activities

block neck
  link(rel='stylesheet', href='/views/activities/popular/index.min.css?#{cacheBreaker}')

block feet
  script(src='//js.arcgis.com/3.8' data-dojo-config='async: true')
  script(src='/views/activities/popular/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header(style='margin-top:7px; border-bottom: 0;')
        div.btn-group.btn-group-justified
          a.btn.btn-primary(href='/activities/addPlan/')
            | Today
          a.btn.btn-primary(href='/activities/popular/')
            | Tomorrow
          a.btn.btn-primary(href='/activities/events/')  
            | More...
      div#activityGrid


  script(type='text/template', id='tmpl-activity')
    div.activity
      h4.title <%= info.NAME %>
      div.description <% info.DESCRIPTION %>
      div.attendees <%= info.SHORT %> friends want to go
      div.btn.btn-success(data-event-id!='<%= info.NAME %>') Count me in
      |<% _.each(friends, function(friend) { %>
      img.friend-avatar(src!='<%= friend.avatar %>')
      |<% }); %>
      hr