extends ../../../layouts/default-user

block neck
  link(rel='stylesheet', href='/views/activities/events/index.min.css?#{cacheBreaker}')

block head
  title Events

block feet
  script(src='//js.arcgis.com/3.8compact/' data-dojo-config='async: true')
  script(src='/views/activities/events/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-4
      div.panel(style='padding-top:7px;')
        a.btn.btn-default.btn-lg.btn-block View On Map
      div#activityGrid


  script(type='text/template', id='tmpl-event')
    div.activity
      div.time <%= new Date(info.TIME).toLocaleDateString() %>
      h4.title <%= info.NAME %>
      div.description <%= info.DESCRIPTION %>
      div.description(style='font-weight:bold;') at <%= info.BUSINESSID %>
      //- div.attendees <%= info.SHORT %> friend wants to go
      div.btn.btn-success(data-event-id!='<%= info.NAME %>') Count me in
      |<% _.each(friends, function(friend) { %>
      img.friend-avatar(src!='<%= friend.avatar %>')
      |<% }); %>
      hr